<h1>新しい面接の作成</h1>

<%= render "interviews/error" %>

<%= form_for(@interview) do |f| %>
  <%= f.datetime_select :date, { :use_month_numbers => true, :minute_step => 10 } %>
  <%= f.submit %>
<% end %>
