<h1><%= @user[:user_name] %>の過去の面接</h1>
<%= link_to "一覧に戻る", interviews_path(params:{ id: @user.id }) %>
<table>
  <thead>
    <th>日程</th>
    <th>ステータス</th>
  </thead>
  <% @interviews.each do | interview | %>
    <tr>
      <td><%= interview.date.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= interview.status %></td>>
    </tr>
  <% end %>
</table>
